body {
  margin: 0;
  background-color: white; }

.button {
  background-color: transparent;
  color: white;
  position: relative;
  margin-right: 100px; }

.circle {
  border-radius: 50%;
  background-image: url("/public/images/photo.jpg");
  border-style: solid;
  border-color: black;
  border-width: thin;
  box-shadow: 0px 0px 30px black;
  width: 400px;
  height: 400px;
  margin-top: 100px; }

.row1 {
  height: 600px;
  background-color: #141f1f; }
